[submodule "qBittorrent"]
	path = qBittorrent
	url = https://github.com/wxhere/qBittorrent
[submodule "zlib"]
	path = zlib
	url = https://github.com/wxhere/zlib
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost
[submodule "OpenSSL"]
	path = OpenSSL
	url = https://github.com/openssl/openssl
[submodule "libtorrent"]
	path = libtorrent
	url = https://github.com/arvidn/libtorrent/
[submodule "qt5"]
	path = qt5
	url = https://code.qt.io/qt/qt5.git
