[submodule "qBittorrent"]
	path = qBittorrent
	url = https://github.com/wxhere/qBittorrent
[submodule "zlib"]
	path = zlib
	url = https://github.com/wxhere/zlib
[submodule "OpenSSL"]
	path = OpenSSL
	url = https://github.com/wxhere/OpenSSL
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost
